<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link
            rel="icon"
            type="images/png"
            href="{{ url_for('static', filename='img/logo.png') }}"
        />
        <title>
            {% block title %}
                PUP-QC Faculty Performance System
            {% endblock %}
        </title>
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/bower_components/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/assets/pages/waves/css/waves.min.css') }}" type="text/css" media="all">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/assets/icon/feather/css/feather.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/assets/icon/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/assets/pages/prism/prism.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/assets/css/style.css') }}">

        <!-- For Analytics -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/assets/css/font-awesome-n.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bower_components/chartist/css/chartist.css') }}" type="text/css" media="all">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/assets/css/widget.css') }}">

        <script
            src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            crossorigin="anonymous">
        </script>

        <script
            src="https://cdn.jsdelivr.net/npm/chart.js">
        </script>

        <script
        src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'>
        </script>

    </head>

    <body class="menu-bottom">
        {% block content1 %}{% endblock %}

        <script type="text/javascript" src="{{ url_for('static', filename='plugins/bower_components/jquery/js/jquery.min.js') }} "></script>
        <script src="{{ url_for('static', filename='plugins/bower_components/jquery-ui/js/jquery-ui.min.js') }} "></script>
        <script type="text/javascript" src="{{ url_for('static', filename='plugins/bower_components/popper.js/js/popper.min.js') }} "></script>
        <script type="text/javascript" src="{{ url_for('static', filename='plugins/bower_components/bootstrap/js/bootstrap.min.js') }} "></script>

        <script src="{{ url_for('static', filename='plugins/assets/pages/waves/js/waves.min.js') }} "></script>

        <script type="text/javascript" src="{{ url_for('static', filename='plugins/bower_components/jquery-slimscroll/js/jquery.slimscroll.js') }} "></script>

        <script type="text/javascript" src="{{ url_for('static', filename='plugins/assets/pages/prism/custom-prism.js') }} "></script>

        <script src="{{ url_for('static', filename='plugins/assets/js/pcoded.min.js') }} "></script>
        <script src="{{ url_for('static', filename='plugins/assets/js/vertical/menu/menu-sidebar-fixed.js') }} "></script>
        <script type="text/javascript" src="{{ url_for('static', filename='plugins/assets/js/script.js') }} "></script>

        <!-- Analytics Part -->
        <script src="{{ url_for('static', filename='plugins/assets/pages/chart/float/jquery.flot.js') }} "></script>
        <script src="{{ url_for('static', filename='plugins/assets/pages/chart/float/jquery.flot.categories.js') }} "></script>
        <script src="{{ url_for('static', filename='plugins/assets/pages/chart/float/curvedLines.js') }} "></script>
        <script src="{{ url_for('static', filename='plugins/assets/pages/chart/float/jquery.flot.tooltip.min.js') }} "></script>
        
        <script src="{{ url_for('static', filename='plugins/assets/pages/widget/amchart/amcharts.js') }} "></script>
        <script src="{{ url_for('static', filename='plugins/assets/pages/widget/amchart/gauge.js') }} "></script>
        <script src="{{ url_for('static', filename='plugins/assets/pages/widget/amchart/serial.js') }} "></script>
        <script src="{{ url_for('static', filename='plugins/assets/pages/widget/amchart/light.js') }} "></script>
        <script src="{{ url_for('static', filename='plugins/assets/pages/widget/amchart/pie.min.js') }} "></script>
        <script src="{{ url_for('static', filename='plugins/assets/pages/widget/amchart/ammap.min.js') }} "></script>
        <script src="{{ url_for('static', filename='plugins/assets/pages/widget/amchart/usaLow.js') }} "></script>
        
        <script src="{{ url_for('static', filename='plugins/bower_components/chartist/js/chartist.js') }} "></script>

        
        <script type="text/javascript" src="{{ url_for('static', filename='plugins/assets/pages/dashboard/analytic-dashboard.min.js') }} "></script>
        
        <script>
            //For showing time and date
            function updateDateTime() {
                const now = new Date();
                const timeElement = document.getElementById('time');
                const dateElement = document.getElementById('date');
        
                const options = {
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric',
                hour12: true
                };
        
                timeElement.textContent = now.toLocaleTimeString(undefined, options);
                dateElement.textContent = now.toDateString();
            }
        
            setInterval(updateDateTime, 1000); // Update every second
            updateDateTime(); // Initial update
            
            const ctx = document.getElementById('barChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                labels: ['BSCS', 'BSIT', 'BSENTREP', 'BSHRM', 'BSPOLGOV', 'BSACC'],
                datasets: [{
                    label: '# of Faculty Performance',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    ],
                    borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    ],
                    borderWidth: 1
                }]
                },
                options: {
                scales: {
                    y: {
                    beginAtZero: true
                    }
                }
                }
            })

            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth'
                });
                calendar.render();
            });
        </script>

    </body>
</html>