{% extends 'layout.html' %}

{% block content1 %}
<style>
    .hey
    {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        perspective: 800px;
    }
</style>

<div class="loader-bg hey">
    <!-- <div class="loader-bar"></div> -->
    <img src="http://i.giphy.com/13Xkz5sLdjGiQw.gif" height="60px" width="60px">
</div>

<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <!-- footer nav -->
        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">
                <div class="navbar-logo">
                    <a href="javascript:void(0)">
                        <h3>
                            PUPQC-FPS
                            <span style="font-size: .4em;">v.1.0.1</span>
                        </h3>
                    </a>
                    <a class="mobile-menu" id="mobile-collapse" href="#!">
                        <div class="mt-2 mr-2">
                            <i class="feather icon-menu icon-toggle-right" style="font-size: 1.8em;"></i>
                        </div>
                        
                    </a>
                    <a class="mobile-options waves-effect waves-light">
                        <i class="feather icon-more-horizontal"></i>
                    </a>
                </div>

                <div class="navbar-container container-fluid">
                    <ul class="nav-left">
                        <li class="header-search">
                            <div class="main-search morphsearch-search">
                                <div class="input-group">
                                    <span class="input-group-prepend search-close">
                                        <i class="feather icon-x input-group-text"></i>
                                    </span>

                                    <input type="text" class="form-control" placeholder="Enter Keyword">
                                    
                                    <span class="input-group-append search-btn">
                                        <i class="feather icon-search input-group-text"></i>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                <img class="img-fluid" src="../static/img/logo.png" alt="Logo" height="40px" width="40px">
                            </a>
                        </li>
                    </ul>

                    <ul class="nav-right">
                        <li class="header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="feather icon-bell"></i>
                                    <span class="badge bg-c-red">5</span>
                                </div>
                                
                            </div>
                        </li>
                        <li class="header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="displayChatbox dropdown-toggle" data-toggle="dropdown">
                                    <i class="feather icon-message-square"></i>
                                    <span class="badge bg-c-green">3</span>
                                </div>
                            </div>
                        </li>
                        <li class="user-profile header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="https://t3.ftcdn.net/jpg/05/53/79/60/360_F_553796090_XHrE6R9jwmBJUMo9HKl41hyHJ5gqt9oz.jpg" class="img-radius" alt="User-Profile-Image">
                                    <span>Faculty name member</span>
                                    <i class="feather icon-chevron-down"></i>
                                </div>
                                
                                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <li>
                                        <a href="#!">
                                            <i class="feather icon-settings"></i> Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="feather icon-user"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="feather icon-mail"></i> My Messages
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="feather icon-lock"></i> Lock Screen
                                        </a>
                                    </li>
                                    <a href="{{ url_for('auth.logout') }}">
                                        <li>
                                            <i class="feather icon-log-out"></i> Logout
                                        </li>
                                    </a>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">

                <!-- sidebar -->
                <nav class="pcoded-navbar">
                    <div class="nav-list">
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="pcoded-navigation-label">Your Performance</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="active">
                                    <a href="{{ url_for('executives.executive') }}" class="waves-effect waves-dark">
                                        <span class="pcoded-micon">
                                            <i class="feather icon-home"></i>
                                        </span>
                                        <span class="pcoded-mtext">Dashboard</span>
                                    </a>
                                </li>
                            </ul>

                            <div class="pcoded-navigation-label">Faculty Profile Management</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <!-- pcoded-trigger -->
                                <li class="pcoded-hasmenu ">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                                        <span class="pcoded-mtext">Personal Data</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class="">
                                            <a href="{{ url_for('executives.executive_profile') }}" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Basic Details</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Personal Details</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Family Background</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Educational Background</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Eligibilities</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Work Experiences</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Voluntary Works</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Training & Seminars</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Outstanding Achievement</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Officers / Membership</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Other Information</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Additional Questions</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Character Reference</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Signature</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Personal Data Reports</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="feather icon-edit"></i></span>
                                        <span class="pcoded-mtext">Attendance Mgmt.</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class>
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 1</span>
                                            </a>
                                        </li>
                                        <li class>
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 2</span>
                                            </a>
                                        </li>
                                        <li class>
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 3</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon">
                                            <i class="feather icon-home"></i>
                                        </span>
                                        <span class="pcoded-mtext">Leave Mgmt.</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class>
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 1</span>
                                            </a>
                                        </li>
                                        <li class>
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 2</span>
                                            </a>
                                        </li>
                                        <li class>
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 3</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon">
                                            <i class="feather icon-heart"></i>
                                        </span>
                                        <span class="pcoded-mtext">Medical Information</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class>
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 1</span>
                                            </a>
                                        </li>
                                        <li class>
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 2</span>
                                            </a>
                                        </li>
                                        <li class>
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 3</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            <div class="pcoded-navigation-label">Teaching Evaluation and Feedback</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu ">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="feather icon-edit"></i></span>
                                        <span class="pcoded-mtext">Feedback Option 1</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 1</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 2</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 3</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="feather icon-mail"></i></span>
                                        <span class="pcoded-mtext">Feedback Option 2</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class>
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 1</span>
                                            </a>
                                        </li>
                                        <li class>
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 2</span>
                                            </a>
                                        </li>
                                        <li class>
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 3</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            
                            <div class="pcoded-navigation-label">Research and Publications</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu ">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="feather icon-book"></i></span>
                                        <span class="pcoded-mtext">Research Option 1</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 1</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 2</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 3</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="feather icon-clipboard"></i></span>
                                        <span class="pcoded-mtext">Research Option 2</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class>
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 1</span>
                                            </a>
                                        </li>
                                        <li class>
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 2</span>
                                            </a>
                                        </li>
                                        <li class>
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 3</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="pcoded-hasmenu ">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="feather icon-server"></i></span>
                                        <span class="pcoded-mtext">Research Option 3</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 1</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 2</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-mtext">Option 3</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul> 
                        </div>
                    </div>
                </nav>

                <!-- contents -->
                <div class="pcoded-content">
                    <div class="page-header card">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <i class="feather icon-home bg-c-blue"></i>
                                    <div class="d-inline">
                                        <h5>Welcome back, {{ fullname }}!</h5>
                                        <span>Dashboard</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-4">
                                <div class="page-header-breadcrumb">
                                    <ul class=" breadcrumb breadcrumb-title">
                                        <p class="breadcrumb-item text-end" id="time"></p>
                                        <p class="breadcrumb-item text-end" id="date"></p>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pcoded-inner-content">
                        <div class="col ">
                            <!-- <main class="row">
                                <div class="container-md py-3 px-4 rounded-3 shadow-sm">
                                    <h2>Welcome Back User!</h2>
                                </div>
                                <div class="">
                                    <div class="card" style="width:15rem;">
                                        <img class="card-img-top" src="imgs/test.jpg" alt="Card image">
                                        <div class="card-body shadow-sm">
                                            <h3 class="card-title">Im Yoon Na</h3>
                                            <p class="card-text">Faculty Staff</p>
                                            <h5 class="card-text">Achivements</h5>
                                            <ul>
                                                <li> Bachelor of Science in Tourisim</li>
                                                <li> Masteral in Culinary Arts</li>
                                            </ul>
                                            <a href="#" class="btn btn-primary">See Profile</a>
                                        </div>
                                    </div>
                                    <div class="row-col-md-5 ">
                                        <canvas id="barChart" style="max-width: 600px;"></canvas>
                                    </div>
                                    <div class="row-col-md-5 ">
                                        <div id="calendar"></div>
                                    </div>
                                </div>          
                            </main> -->
                        </div>
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-xl-7 col-md-12">
                                            <div class="card sale-card bg-transparent shadow-none">
                                                <div class="card-header"><h5> Reports </h5></div>
                                                <div class="card-block">
                                                    <canvas id="barChart" style="max-width: 600px;"></canvas>
                                                    <!-- <div id="calendar"></div> -->
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- <div class="col-xl-3 col-md-12">
                                            <div class="card prod-p-card card-red">
                                                <div class="card-body">
                                                    <div class="row align-items-center m-b-30">
                                                        <div class="col">
                                                            <h6 class="m-b-5 text-white">Total Profit</h6>
                                                            <h3 class="m-b-0 f-w-700 text-white">$1,783</h3>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-money-bill-alt text-c-red f-18"></i>
                                                        </div>
                                                    </div>
                                                    <p class="m-b-0 text-white">
                                                        <span class="label label-danger m-r-10">+11%</span>
                                                        From Previous Month
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card prod-p-card card-blue">
                                                <div class="card-body">
                                                    <div class="row align-items-center m-b-30">
                                                        <div class="col">
                                                            <h6 class="m-b-5 text-white">Total Orders</h6>
                                                            <h3 class="m-b-0 f-w-700 text-white">15,830</h3>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-database text-c-blue f-18"></i>
                                                        </div>
                                                    </div>
                                                    <p class="m-b-0 text-white">
                                                        <span class="label label-primary m-r-10">+12%</span>
                                                        From Previous Month
                                                    </p>
                                                </div>
                                            </div>
                                        </div> -->

                                        <div class="col-xl-5 col-md-12">
                                            <div class="card sale-card bg-transparent shadow-none">
                                                <div class="card-header"><h5>Your Details</h5></div>
                                                <div class="row card-block mt-3">
                                                    <div class="col">
                                                        <div class="p-2">
                                                            <h3>Im Yoon Na</h3>
                                                            <p>Faculty Staff</p>
                                                            <h6>Achivements</h6>
                                                            <ul>
                                                                <code> Bachelor of Science in Tourism</code>
                                                                <code> Master in Culinary Arts</code>
                                                            </ul>
                                                            <a href="#  " class="btn btn-primary">See Profile</a>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col">
                                                        <img src="../static/img/test.jpg" alt="hugenerd" width="80%" class="rounded ml-5">
                                                    </div>
                                                    
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-8 col-md-12">
                                            <div class="card sale-card">
                                                <div class="card-header">
                                                    <h5>Deals Analytics</h5>
                                                </div>
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <div id="" class="chart-shadow" style="height:215px"></div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div id="allocation-chart" class="chart-shadow" style="height:215px"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-md-12">
                                            <div class="card prod-p-card card-red">
                                                <div class="card-body">
                                                    <div class="row align-items-center m-b-30">
                                                        <div class="col">
                                                            <h6 class="m-b-5 text-white">Total Numbers</h6>
                                                            <h3 class="m-b-0 f-w-700 text-white">1234</h3>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-money-bill-alt text-c-red f-18"></i>
                                                        </div>
                                                    </div>
                                                    <p class="m-b-0 text-white">
                                                        <span class="label label-danger m-r-10">+00%</span>
                                                        From Previous Month
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card prod-p-card card-blue">
                                                <div class="card-body">
                                                    <div class="row align-items-center m-b-30">
                                                        <div class="col">
                                                            <h6 class="m-b-5 text-white">Total Numbers</h6>
                                                            <h3 class="m-b-0 f-w-700 text-white">1234</h3>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-database text-c-blue f-18"></i>
                                                        </div>
                                                    </div>
                                                    <p class="m-b-0 text-white">
                                                        <span class="label label-primary m-r-10">+00%</span>
                                                        From Previous Month
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-12">
                                            <div class="card product-progress-card">
                                                <div class="card-block">
                                                    <div class="row pp-main">
                                                        <div class="col-xl-3 col-md-6">
                                                            <div class="pp-cont">
                                                                <div class="row align-items-center m-b-20">
                                                                    <div class="col-auto">
                                                                        <i class="fas fa-cube f-24 text-mute"></i>
                                                                    </div>
                                                                    <div class="col text-right">
                                                                        <h2 class="m-b-0 text-c-blue">1234</h2>
                                                                    </div>
                                                                </div>
                                                                <div class="row align-items-center m-b-15">
                                                                    <div class="col-auto">
                                                                        <p class="m-b-0">Total Numbers</p>
                                                                    </div>
                                                                    <div class="col text-right">
                                                                        <p class="m-b-0 text-c-blue"><i class="fas fa-long-arrow-alt-up m-r-10"></i>00%</p>
                                                                    </div>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-c-blue" style="width:45%"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-md-6">
                                                            <div class="pp-cont">
                                                                <div class="row align-items-center m-b-20">
                                                                    <div class="col-auto">
                                                                        <i class="fas fa-tag f-24 text-mute"></i>
                                                                    </div>
                                                                    <div class="col text-right">
                                                                        <h2 class="m-b-0 text-c-red">123</h2>
                                                                    </div>
                                                                </div>
                                                                <div class="row align-items-center m-b-15">
                                                                    <div class="col-auto">
                                                                        <p class="m-b-0">New Numbers</p>
                                                                    </div>
                                                                    <div class="col text-right">
                                                                        <p class="m-b-0 text-c-red">
                                                                            <i class="fas fa-long-arrow-alt-down m-r-10"></i>
                                                                            00%
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-c-red" style="width:75%"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-md-6">
                                                            <div class="pp-cont">
                                                                <div class="row align-items-center m-b-20">
                                                                    <div class="col-auto">
                                                                        <i class="fas fa-random f-24 text-mute"></i>
                                                                    </div>
                                                                    <div class="col text-right">
                                                                        <h2 class="m-b-0 text-c-yellow">00%</h2>
                                                                    </div>
                                                                </div>
                                                                <div class="row align-items-center m-b-15">
                                                                    <div class="col-auto">
                                                                        <p class="m-b-0">Numbers Rate</p>
                                                                    </div>
                                                                    <div class="col text-right">
                                                                        <p class="m-b-0 text-c-yellow"><i class="fas fa-long-arrow-alt-up m-r-10"></i>64%</p>
                                                                    </div>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-c-yellow" style="width:65%"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-md-6">
                                                            <div class="pp-cont">
                                                                <div class="row align-items-center m-b-20">
                                                                    <div class="col-auto">
                                                                        <i class="fas fa-dollar-sign f-24 text-mute"></i>
                                                                    </div>
                                                                    <div class="col text-right">
                                                                        <h2 class="m-b-0 text-c-green">1234</h2>
                                                                    </div>
                                                                </div>
                                                                <div class="row align-items-center m-b-15">
                                                                    <div class="col-auto">
                                                                        <p class="m-b-0">Funds</p>
                                                                    </div>
                                                                    <div class="col text-right">
                                                                        <p class="m-b-0 text-c-green">
                                                                            <i class="fas fa-long-arrow-alt-up m-r-10"></i>
                                                                            00%
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-c-green" style="width:35%"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="col-xl-6 col-md-12">
                                            <div class="card table-card">
                                                <div class="card-header">
                                                    <h5>Research Analytics</h5>
                                                    <div class="card-header-right">
                                                        <ul class="list-unstyled card-option">
                                                            <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                                                            <li><i class="feather icon-maximize full-card"></i></li>
                                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                                            <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                                            <li><i class="feather icon-trash close-card"></i></li>
                                                            <li><i class="feather icon-chevron-left open-card-option"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover m-b-0  table-borderless">
                                                            <thead>
                                                                <tr>
                                                                    <th>Research Type</th>
                                                                    <th>In-process</th>
                                                                    <th>Track</th>
                                                                    <th>Published</th>
                                                                    <th>Funded</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div class="d-inline-block align-middle">
                                                                            <h6>Mental</h6>
                                                                            <p class="text-muted m-b-0">Comparative, etc.</p>
                                                                        </div>
                                                                    </td>

                                                                    <td>300</td>

                                                                    <td>
                                                                        <div id="app-sale1" style="height:50px"></div>
                                                                    </td>

                                                                    <td>10</td>

                                                                    <td class="text-c-blue">P  652.00</td>
                                                                </tr>

                                                                <tr>
                                                                    <td>
                                                                        <div class="d-inline-block align-middle">
                                                                            <h6>Case Studies</h6>
                                                                            <p class="text-muted m-b-0">Design Software</p>
                                                                        </div>
                                                                    </td>

                                                                    <td>1,323</td>

                                                                    <td>
                                                                        <div id="app-sale2" style="height:50px"></div>
                                                                    </td>

                                                                    <td>340</td>
                                                                    
                                                                    <td class="text-c-blue">P 8,785.00</td>
                                                                </tr>

                                                                <tr>
                                                                    <td>
                                                                        <div class="d-inline-block align-middle">
                                                                            <h6>Quantitative</h6>
                                                                            <p class="text-muted m-b-0">Admin App</p>
                                                                        </div>
                                                                    </td>

                                                                    <td>52</td>

                                                                    <td>
                                                                        <div id="app-sale4" style="height:50px"></div>
                                                                    </td>

                                                                    <td>4</td>

                                                                    <td class="text-c-blue">P 7,856.00</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-6 col-md-12">
                                            <div class="card sale-card">
                                                <div class="card-header">
                                                    <h5>Calendar</h5>
                                                </div>
                                                <div class="card-block text-center">
                                                    <!-- <div id="realtime-profit" style="height:315px"></div> -->
                                                    <div id="calendar"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Month Projections</h5>
                                                    <div class="card-header-right">
                                                        <ul class="list-unstyled card-option">
                                                            <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                                                            <li><i class="feather icon-maximize full-card"></i></li>
                                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                                            <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                                            <li><i class="feather icon-trash close-card"></i></li>
                                                            <li><i class="feather icon-chevron-left open-card-option"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div id="sales-analytics" style="height: 390px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="styleSelector"></div>  
            </div>
                <br><br><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}